<navkit-container>
  <navkit-sidenav
    [mode]="'side'"
    [width]="300"
    [navItems]="navItems"
  ></navkit-sidenav>
  <navkit-content>
    <navkit-toolbar
      [height]="80"
      [sidenavToggle]="true"
      [sticky]="true"
    ></navkit-toolbar>
    <div>
      <p>
        Lorem ipsum dolor sit amet. Non voluptas dolor est consequatur iste qui
        minus quaerat? Et dolor dolor a molestias veniam et obcaecati corrupti
        ut soluta itaque eos corporis quis. Vel tenetur dolores ut repellendus
        tempore aut temporibus laborum est enim reprehenderit sed quia
        aspernatur est perferendis deleniti. Ut omnis laboriosam et minima
        accusantium ea minima perferendis vel tempore excepturi et voluptatum
        dolorum et dolor quia.
      </p>
      <p>
        Sed fuga nobis 33 officia labore aut pariatur galisum. Ex explicabo
        nihil vel rerum reiciendis aut tempore illum eum magnam quasi est eaque
        rerum qui culpa repellat qui dolorum commodi.
      </p>
      <p>
        Id eveniet fuga et saepe minima aut perspiciatis quia. Sed ducimus
        expedita ut sunt modi qui mollitia asperiores aut enim dolor ex aperiam
        fugiat sed quod placeat ex quis corporis. Et quos omnis est labore amet
        ut quia debitis aut autem facere. Vel architecto voluptatem eos labore
        porro aut iusto nisi et internos illo?
      </p>
      <p>
        At recusandae magni eum quia ullam ea excepturi eaque quo voluptates
        pariatur et consequatur unde. Est aspernatur omnis in corporis officia
        et iure voluptatem. Et deleniti sint ab ratione deserunt ex mollitia
        esse non molestiae rerum non consequatur ipsa.
      </p>
      <p>
        Ut tempore quaerat vel magnam consequatur ut fugit esse est nesciunt
        corporis qui quis fuga ab eligendi autem. Est dolores minima rem fugit
        dolor et voluptatibus consequuntur ad illum natus quo blanditiis nulla
        non autem cupiditate! Ad voluptates cupiditate eum similique cumque aut
        beatae pariatur ut neque praesentium qui magni cupiditate At doloribus
        quia. Sit ratione deserunt est obcaecati voluptatem sit harum aperiam
        quo laboriosam dolorem.
      </p>
      <p>
        Aut nulla assumenda vel expedita laboriosam ut mollitia Quis est omnis
        porro et sequi dolore. Ex laudantium quasi quo ducimus suscipit et esse
        omnis ut quibusdam tempore At tenetur provident et sequi mollitia. Ea
        sunt sint 33 molestiae recusandae qui inventore odio. Non velit
        molestias ut temporibus fugiat a voluptas ullam et fuga dolor qui dicta
        quasi et voluptas laudantium non officiis nulla.
      </p>
      <p>
        In dolore voluptatem non amet fuga est aliquam soluta ut galisum aliquid
        et rerum officia ad numquam nostrum. Ut reprehenderit rerum non sint
        consequatur est commodi labore et quidem reiciendis et omnis quaerat.
        Sit sint sequi et ipsam esse rem labore inventore est minima officia ad
        adipisci ipsam vel quod veniam ut quam repellat. Aut quia sunt est
        itaque recusandae vel harum galisum est sunt autem qui dolor veritatis
        et doloremque dolorum non ipsum voluptates!
      </p>
      <p>
        Id quos fuga 33 dolore nemo id rerum Quis qui dolorem dolorem nam
        necessitatibus temporibus. Est Quis cumque ut adipisci aperiam non omnis
        quibusdam sed reprehenderit galisum et possimus totam id aperiam
        aliquam.
      </p>
      <p>
        Ut maxime illum ut quae architecto sed consequatur eius. Aut minima
        molestiae ut rerum eaque ut quia itaque rem autem nihil est explicabo
        velit!
      </p>
      <p>
        Qui dolorem repudiandae cum rerum minima quo sunt voluptatibus eum velit
        vero id nihil dignissimos! Ut velit suscipit ut fugiat nostrum quo
        doloremque modi ut omnis itaque non quasi praesentium aut molestias
        quibusdam. Et sint repudiandae id illum ipsum et voluptatum sint est
        nostrum repellat vel sint accusamus qui iusto error qui reiciendis
        consequuntur? At accusantium debitis ex dolorem doloremque aut accusamus
        optio est delectus voluptas et adipisci quisquam?
      </p>
      <p>
        Lorem ipsum dolor sit amet. Non voluptas dolor est consequatur iste qui
        minus quaerat? Et dolor dolor a molestias veniam et obcaecati corrupti
        ut soluta itaque eos corporis quis. Vel tenetur dolores ut repellendus
        tempore aut temporibus laborum est enim reprehenderit sed quia
        aspernatur est perferendis deleniti. Ut omnis laboriosam et minima
        accusantium ea minima perferendis vel tempore excepturi et voluptatum
        dolorum et dolor quia.
      </p>
      <p>
        Sed fuga nobis 33 officia labore aut pariatur galisum. Ex explicabo
        nihil vel rerum reiciendis aut tempore illum eum magnam quasi est eaque
        rerum qui culpa repellat qui dolorum commodi.
      </p>
      <p>
        Id eveniet fuga et saepe minima aut perspiciatis quia. Sed ducimus
        expedita ut sunt modi qui mollitia asperiores aut enim dolor ex aperiam
        fugiat sed quod placeat ex quis corporis. Et quos omnis est labore amet
        ut quia debitis aut autem facere. Vel architecto voluptatem eos labore
        porro aut iusto nisi et internos illo?
      </p>
      <p>
        At recusandae magni eum quia ullam ea excepturi eaque quo voluptates
        pariatur et consequatur unde. Est aspernatur omnis in corporis officia
        et iure voluptatem. Et deleniti sint ab ratione deserunt ex mollitia
        esse non molestiae rerum non consequatur ipsa.
      </p>
      <p>
        Ut tempore quaerat vel magnam consequatur ut fugit esse est nesciunt
        corporis qui quis fuga ab eligendi autem. Est dolores minima rem fugit
        dolor et voluptatibus consequuntur ad illum natus quo blanditiis nulla
        non autem cupiditate! Ad voluptates cupiditate eum similique cumque aut
        beatae pariatur ut neque praesentium qui magni cupiditate At doloribus
        quia. Sit ratione deserunt est obcaecati voluptatem sit harum aperiam
        quo laboriosam dolorem.
      </p>
      <p>
        Aut nulla assumenda vel expedita laboriosam ut mollitia Quis est omnis
        porro et sequi dolore. Ex laudantium quasi quo ducimus suscipit et esse
        omnis ut quibusdam tempore At tenetur provident et sequi mollitia. Ea
        sunt sint 33 molestiae recusandae qui inventore odio. Non velit
        molestias ut temporibus fugiat a voluptas ullam et fuga dolor qui dicta
        quasi et voluptas laudantium non officiis nulla.
      </p>
      <p>
        In dolore voluptatem non amet fuga est aliquam soluta ut galisum aliquid
        et rerum officia ad numquam nostrum. Ut reprehenderit rerum non sint
        consequatur est commodi labore et quidem reiciendis et omnis quaerat.
        Sit sint sequi et ipsam esse rem labore inventore est minima officia ad
        adipisci ipsam vel quod veniam ut quam repellat. Aut quia sunt est
        itaque recusandae vel harum galisum est sunt autem qui dolor veritatis
        et doloremque dolorum non ipsum voluptates!
      </p>
      <p>
        Id quos fuga 33 dolore nemo id rerum Quis qui dolorem dolorem nam
        necessitatibus temporibus. Est Quis cumque ut adipisci aperiam non omnis
        quibusdam sed reprehenderit galisum et possimus totam id aperiam
        aliquam.
      </p>
      <p>
        Ut maxime illum ut quae architecto sed consequatur eius. Aut minima
        molestiae ut rerum eaque ut quia itaque rem autem nihil est explicabo
        velit!
      </p>
      <p>
        Qui dolorem repudiandae cum rerum minima quo sunt voluptatibus eum velit
        vero id nihil dignissimos! Ut velit suscipit ut fugiat nostrum quo
        doloremque modi ut omnis itaque non quasi praesentium aut molestias
        quibusdam. Et sint repudiandae id illum ipsum et voluptatum sint est
        nostrum repellat vel sint accusamus qui iusto error qui reiciendis
        consequuntur? At accusantium debitis ex dolorem doloremque aut accusamus
        optio est delectus voluptas et adipisci quisquam?
      </p>
    </div>
  </navkit-content>
</navkit-container>
