.navkit-sidenav {
  height: 100%;
  border-right: 1px solid #a4a4a4;
  background-color: #00000000;
  position: fixed;
  top: 0px;
  transition: left .3s ease, background-color .3s .3s;
  z-index: 999;

  .overlay{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .navkit-sidenav-inner {
    background-color: #ffffff;
    height: 100%;
    .sidenav-items{
      height: 100%;
      padding: 10px;
    }
  }

  &:has(.side) {
    left: 0px;
  }

  &:has(.over) {
    left: -100%;
  }
}

.sidenav-btn-container{
  display: none;
  justify-content: end;
  padding: 10px;
}

@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;
  display: flex;  

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: calc(($size - $thickness) / 2);
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }

}


// Close button.
.cross-stand-alone {
  @include cross(30px, #000, 3px);  
}

@media (max-width:992px) {
  .sidenav-btn-container{
    display: flex;
  }
  .navkit-sidenav {
    width: 100% !important;

    .overlay{
      display: flex;
    }
    &:has(.side) {
      left: -100%;
      background-color: #00000000;
      transition: left .3s ease .2s, background-color .3s;
    }

    &:has(.over) {
      left: 0px;
      background-color: #00000050;
    }
  }
}