.navkit-toolbar{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #a4a4a4;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navkit-toolbar.sticky{
  position: sticky;
  top: 0;
}